:root {
  --dc-primary-color: #ff2670;
  --dc-on-primary-color: #ffffff;
  --dc-surface-color: light-dark(#ffffff, #1e1e1e);
  --dc-on-surface-color: light-dark(#000000, #ffffff);
  --dc-info-color: light-dark(#007aff, #0a84ff);
  --dc-success-color: light-dark(#34c759, #30d158);
  --dc-error-color: light-dark(#ff3b30, #ff453a);
  --dc-max-border-radius: 25px
}

.form-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white; /* Debug with a visible background */
  padding: 20px;
  border: 1px solid black; /* Debug with a visible border */
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between left group and Create button */
  padding: 10px 20px;
  background-color: #f5f5f5;
}

.header-left {
  display: flex;
  align-items: center;
}

.app-logo {
  height: 60px; /* Adjust size as needed */
  width: auto;
  margin-right: 10px; /* Space between logo and text */
}

.app-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  display: flex;
  align-items: center;
  color: #333;
}

.create-button {
  background-color: #ff4d4d; /* Red button */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-button:hover {
  background-color: #d43d3d; /* Darker red on hover */
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}
